Django==1.9.2
gunicorn==19.4.5
python-dateutil==2.4.2
ipython

django-tables2==1.1.2
Django-Select2==5.8.2
django-bootstrap3==7.0.0

-e git+https://github.com/django-extensions/django-extensions.git@master#egg=django_extensions
