{% extends 'core/base/base_edit.html' %}

{% block buttons %}
    {% load bootstrap3 %}
    {% buttons layout='horizontal' %}
        <a href="{% url 'examination_question_update_view' question.examination.id question.id %}" class="btn btn-info">
        {% bootstrap_icon "arrow-left" %} Назад</a>
        <button type="submit" class="btn btn-success">
            {% bootstrap_icon "floppy-save" %} Сохранить
        </button>
        <button type="submit" name="another_one" class="btn btn-success">
            {% bootstrap_icon "floppy-save" %} Сохранить и добавить еще
        </button>
        {% if is_update %}
        <a id="delete" data-body="{{ answer.body }}" href="{% url 'question_answer_delete_view' question.examination_id question.id answer.id %}"
           class="btn btn-danger pull-right">
        {% bootstrap_icon "trash" %} Удалить</a>
        {% endif %}
    {% endbuttons %}

    <div class="modal fade" tabindex="-1" role="dialog" id="userExamModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 id="modal-title" class="modal-title"></h4>
                </div>
                <div id="modal-body" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button id="go" type="button" class="btn btn-warning">Удалить</button>
                </div>
            </div>
        </div>
    </div>

{% endblock buttons %}

{% block js %}
    <script>
        $(document).on('click', '#delete', function(event){
            var $this = $(this);
            event.preventDefault();
            window.userExamHref = event.target.href;
            $('#userExamModal').modal('show');
            $('#modal-title').html("Удаление вопроса");
            $('#modal-body').html("<p>" + $this.data('body') + "</p>");
            return false;
        });

        $(document).on('click', '#go', function(event){
            window.location = window.userExamHref;
        })
    </script>
{% endblock js %}