{% extends 'core/base/base_edit.html' %}

{% block buttons %}
    {% load bootstrap3 %}
    {% buttons layout='horizontal' %}
        <button type="submit" class="btn btn-success">
            {% bootstrap_icon "floppy-save" %} Сохранить
        </button>
        <a href="{% url 'department_list_view' %}" type="submit" class="btn btn-warning pull-right">
        {% bootstrap_icon "repeat" %} Назад
        </a>
        {% if is_update %}
            <a class="btn btn-danger pull-right" href="{% url 'department_delete_view' department.id %}">
                     Удалить {% bootstrap_icon "trash" %}
            </a>
        {% endif %}
    {% endbuttons %}
{% endblock buttons %}