{% extends 'core/base/base_list.html' %}

{% block buttons %}
    {% load bootstrap3 %}
    {% buttons layout='horizontal' %}
        <button type="submit" class="btn btn-success">
            {% bootstrap_icon "search" %} Поиск
        </button>
        <a href="{% url 'scheduler_create_view' %}" type="submit" class="btn btn-info pull-right">
            {% bootstrap_icon "plus" %} Добавить
        </a>
    {% endbuttons %}
{% endblock buttons %}

{% block table %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Тестирование</th>
                <th>Как часто</th>
                <th>Активность</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>

        {% for scheduler in schedulers %}

            <tr>
                <td>
                    {{ scheduler.id }}
                </td>
                <td>
                    {{ scheduler.examination }}
                </td>
                <td>
                    {{ scheduler.get_verbose_period }}
                </td>
                <td>
                    {{ scheduler.is_active|yesno:'Активно, Не активно' }}
                </td>
                <td>
                    <a href="{% url 'scheduler_update_view' scheduler.id %}">Редактировать</a>
                    <br/>
                    <a href="{% url 'scheduler_detail_view' scheduler.id %}">Статистика</a>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

{% endblock table %}