{% extends 'core/base/base_list.html' %}

{% block buttons %}
    {% load bootstrap3 %}
    {% buttons layout='horizontal' %}
        <button type="submit" class="btn btn-success">
            {% bootstrap_icon "search" %} Поиск
        </button>
        <a href="{% url 'user_examination_create_view' %}" type="submit" class="btn btn-info pull-right">
            {% bootstrap_icon "plus" %} Добавить
        </a>
    {% endbuttons %}
{% endblock buttons %}

{% block table %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Тестирование</th>
                <th>Пользователь</th>
                <th>Доступно от</th>
                <th>Выполнить до</th>
            </tr>
        </thead>
        <tbody>

        {% for user_examination in user_examinations %}

            <tr>
                <td>
                    {{ user_examination.examination }}
                </td>
                <td>
                    {{ user_examination.user }}
                </td>
                <td>
                    {{ user_examination.available_from }}
                </td>
                <td>
                    {{ user_examination.complete_until }}
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

{% endblock table %}