{% extends 'core/base/base_list.html' %}


    {% block buttons %}
    {% load bootstrap3 %}
      {% buttons layout='horizontal' %}
        <button type="submit" class="btn btn-success">
            {% bootstrap_icon "search" %} Поиск
        </button>
          <a href="{% url 'user_create_view' %}" type="submit" class="btn btn-default pull-right">
            {% bootstrap_icon "plus" %} Добавить
          </a>
          <a href="{% url 'user_deleted_list_view' %}" type="submit" class="btn btn-default pull-right">
            {% bootstrap_icon "repeat" %} Показать удалённых
          </a>
      {% endbuttons %}
        {% endblock buttons %}

{% block table %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Пользователь</th>
                <th>Email</th>
                <th>Аттестаций</th>
                <th>Не пройденые</th>
                <th>Отделы</th>
            </tr>
        </thead>
    <tbody>

    {% for user in users %}

        <tr>
            <td>
                <a href="{% url 'user_update_view' user.id %}">{{ user.username }}</a>
            </td>
            <td>
                {{ user.email }}
            </td>
            <td>
                {{ user.user_examinations.count }}
            </td>
            <td>
                {{ user.get_expired_examinations.count }}
            </td>
            <td>
                {{ user.departments.all|join:', ' }}
            </td>
        </tr>

    {% endfor %}
    </tbody>
    </table>

{% endblock table %}