{% extends 'core/base/base.html' %}

{% block content %}
    {% load bootstrap3 %}
    Вы действительно хотите удалить {{ object }} ?
    </br></br>
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">
            {% bootstrap_icon "trash" %} Удалить
        </button>
        <a href="{% url 'user_update_view' user.id %}" type="submit" class="btn btn-warning pull-right">
            {% bootstrap_icon "repeat" %} Назад
        </a>
    </form>
{% endblock content %}