{% extends 'core/base/base.html' %}

{% block content %}
    {% load bootstrap3 %}
    Вы действительно хотите удалить тестирование {{ object.examination }} для пользователя {{ object.user }}?
    </br></br>
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">
            {% bootstrap_icon "trash" %} Удалить
        </button>
        <a href="{% url 'adm_user_examination_list_view' %}" type="submit" class="btn btn-warning pull-right">
            {% bootstrap_icon "repeat" %} Назад
        </a>
    </form>
{% endblock content %}