<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}auth2/login.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>Вход в систему тестирования</title>
</head>

<body>

<div class="container">
    {% load bootstrap3 %}
    <form role="form" class="form-signin" method="POST">{% csrf_token %}
        {% csrf_token %}
        {% bootstrap_form form %}
        {% block buttons %}
            {% buttons %}
                <input type="submit" class="btn btn-lg btn-primary btn-block" value='Войти'/>
            {% endbuttons %}
        {% endblock buttons %}
    </form>
</div>

</body>
</html>
