{% extends 'core/base.html' %}

{% block content %}

    <h3>Пользователь {{ user_examination.user }}, тестирование {{ user_examination.examination }}</h3>
        <hr/>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Начато</th>
                <th>Закончено</th>
                <th>Баллы</th>
                <th>Правильные</th>
                <th>Не правильные</th>
            </tr>
        </thead>
    <tbody>

        <tr class="{{ user_examination.get_status_color }}">
            <td>
                {{ user_examination.started_at|default:'Не начато' }}
            </td>
            <td>
                {{ user_examination.finished_at|default:'Не закончено' }}
            </td>
            <td>
                {% if not user_examination.finished_at %}
                    <abbr style="color: lightgray" title="Баллы начисляются только после прохождения тестирования">
                        {{ user_examination.points }}/100
                    </abbr>
                {% else %}
                    {{ user_examination.points }}/100
                {% endif %}
            </td>
            <td>
                {{ user_examinations_stats.right_answers_count }}
            </td>
            <td>
                {{ user_examinations_stats.invalid_answers_count }}
            </td>
        </tr>

    </tbody>
    </table>
        <hr/>

    {% if can_view_logs %}

    <h3>Ответы пользователя</h3>

    {% for question in question_log %}
        <hr/>
        <h5>{{ question.question_data.body }}</h5>
        {% for answer in answer_log|get_by_key:question.id %}
            {{ answer.answer_data.body }} - <span style="color: {% if answer.answer_data.is_right %}green{% else %}red{% endif %}">{{ answer.answer_data.is_right|yesno:'правильный, не правильный' }}</span>
        {% empty %}
            <p>Ответ отсутствует</p>
        {% endfor %}
        <hr/>
    {% endfor %}

    {% else %}
        <h3>Просмотр результатов недоступен</h3>
        {% if user_examination.finished_at %}
            <h4>Тест еще не закончен</h4>
        {% else %}
            <h4>Истекло время просмотра</h4>
        {% endif %}
    {% endif %}

{% endblock content %}