th.sorting_asc:after {
    content: '\0000a0\0025b2';
}
th.sorting_desc:after {
    content: '\0000a0\0025bc';
}
.answer-form label {
    display: inline;
}
.pull-right + .pull-right {
    margin-right: 10px;
}
