{% extends 'core/base/base.html' %}

{% block content %}

    {% block pre_form %}
    {% endblock pre_form %}

    {% load bootstrap3 %}

    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        {% block buttons %}
            {% buttons layout='horizontal' %}
                <button type="submit" class="btn btn-success">
                    {% bootstrap_icon "floppy-save" %} Сохранить
                </button>
                <a class="btn btn-danger pull-right" href="{% url 'user_delete_view' user.id %}">
                     Удалить {% bootstrap_icon "trash" %}
                </a>
            {% endbuttons %}
        {% endblock buttons %}

    </form>

    {% block post_form %}
    {% endblock post_form %}
{% endblock content %}